* {
  /* border: solid pink 1px; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dechet-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background: linear-gradient(90deg, #bcbcbc, #bababac6);
  border-radius: 20px;
  height: 99vh;
}

.trash-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  border-radius: 10px;
  width: 400px;
  height: 50px;
}

ul {
  overflow-y: auto;
  scrollbar-color: #f8ed9f;
  -webkit-scrollbar: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 50px;
}

.trash-card {
  width: 35vw;
  flex-wrap: wrap;
  background: none;
  list-style: none;
  color: black;
}

.trash-content {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  border-radius: 10px;
  width: 90%;
  height: 80px;
  color: black;
}

.leaflet-container {
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.trash-card:link {
  text-decoration: none;
  color: aliceblue;
}
