.detail-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-page>img{
    height : 300px;
    /* border :solid; */
    /* border-width: 15px; */
    /* border-color: #ffe268; */
    border-radius: 5px;
}

.detail-page>p{
    font-family: "Roboto Condensed", sans-serif;
}