/* * {
  border: solid pink 1px;
} */

body {
  background: linear-gradient(90deg, #2b6059, #5f8782);
}

.header {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
}
/* ---- left section -----  */

.left-section {
  width: 40%;
}

.logo {
  width: 80%;
  display: flex;
  margin-left: 10%;
}

/* ----- right section----- */

.right-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

h1 {
  margin-bottom: 0; /* Supprimer la marge en bas */
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  text-align: center;
  font-size: 5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
}

.slogan {
  margin-top: 0; /* Supprimer la marge en haut */
  text-align: center;
  font-size: 3rem;
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
}

.presentation-text {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  width: 700px;
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---- bouttton de scroll ------ */

.btn-next-section {
  display: flex;
  animation: bounce 1s infinite alternate;
  position: relative;
  top: 10px;
  right: 250px;
}

.btn-next-section::after {
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  border-radius: 50%;
  padding: 1rem;
  font-family: "icomoon";
  margin-top: 0.6rem;
  content: url("../assets/fleche-vers-le-bas.png");
  color: black;
  font-size: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}
