/* * {
    border : solid pink 1px; 
} */

body {
  background: linear-gradient(90deg, #2b6059, #5f8782);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 85vh;
}

h1 {
  margin-bottom: 0; /* Supprimer la marge en bas */
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  text-align: center;
  font-size: 4rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
}

.slogan {
  margin-top: 0; /* Supprimer la marge en haut */
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Condensed", sans-serif;
}

.presentation-text {
  font-size: 200%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 2rem;
  font-family: "Cabin", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  font-weight: 600;
}

.btn-next-section {
  display: flex;
  animation: bounce 1s infinite alternate;
  position: relative;
  top : 140px;
  right : 100px;
}

.btn-next-section::after {
  background-image: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  border-radius: 50%;
  padding: 1rem;
  font-family: "icomoon";
  margin-top: 0.6rem;
  content: url("../assets/fleche-vers-le-bas.png");
  color: black;
  font-size: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.40);

}

@keyframes bounce {
  from {
      transform: translateY(-10px);
  }

  to {
      transform: translateY(10px);
  }
}