.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar > a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin: 2%;
  outline: none;
  background: linear-gradient(45deg, #bb8d4a, #f8ed9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar > a:hover {
  background: #f8ed9f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
