.planete-environnement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.planete-environnement > img {
    width: 350px;
}
.bubble {
    position: relative;
    background: #f0f0f0;
    border: 2px solid #000;
    border-radius: 25px;
    padding: 10px;
    max-width: 3000px;
    margin-top: 20px;
}
.bubble::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: -20px; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #f0f0f0;
    border-left: 0;
    margin-top: -10px;
}
.bubble::before {
    content: '';
    position: absolute;
    top: 50%; 
    left: -22px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #000; 
    border-left: 0;
    margin-top: -12px;
}
.bubble > p {
    font-size: 30px;
    margin: 0;
    font-family: Roboto Condensed, Sans Serif;
}